#a-box {
  padding: 4px 10px;
  border: none;
  background-color: #f3f3f6;
  border: 1.5px solid #e7e7e9;
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
  line-height: 30px;
  border-radius: 99999px;
}

input::placeholder {
  color: #171718;
}

#P4-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 850px;
  padding: 30px 0px;
  margin: auto auto;
}

p {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  color: #9890ac;
}
